<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	
  <test thread-count="1" name="Test">
    <classes>
      <class name="test.TestPost"/>
      <class name="test.TestPatch"/>
      <class name="test.TestDelete"/>
      <class name="test.TestGet"/>
      <class name="test.Test1OldGet"/>
      <class name="test.Test1OldPost"/>
      <class name="test.TestPut"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
